<ion-content class="mi-pagina">
  <img class="log" src="/assets/icon/logo-quick.png" alt="">
  <form class="login-form" (ngSubmit)="loginCustomer()">
    <ion-item class="login-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.email" name="email">
        <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    
    <ion-item class="login-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.password" name="password" type="password">
        <div slot="label">Password <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" (click)="setOpen(false)">Login</ion-button>

    <ion-alert
      [isOpen]="isAlertOpen"
      header="Warning"
      subHeader="Campos incompletos"
      message="❌Debes llenar todos los campos❌"
      [buttons]="alertButtons"
      (didDismiss)="setOpen(false)"
    ></ion-alert>

    <p class="register-prompt">¿No tienes una cuenta?</p>
    <ion-button fill="outline"  routerLink="/register">Regístrate</ion-button>
  </form>
</ion-content>
