<ion-header>
  <ion-toolbar>
    <ion-title>
      Actualizar Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form (ngSubmit)="updateProfile()">
    <ion-item color="Medium">
      <ion-label>Nombre</ion-label>
      <ion-input id="edit_nameç" [(ngModel)]="updateData.name" name="name" [value]="customerData?.name"></ion-input> <!--El value obtiene y muestra el dato en el input-->
    </ion-item>
    <ion-item color="Medium">
      <ion-label>Apellido</ion-label>
      <ion-input [(ngModel)]="updateData.surname" name="surname" [value]="customerData?.surname"></ion-input>
    </ion-item>
    <ion-item color="Medium">
      <ion-label>Código</ion-label>
      <ion-input [(ngModel)]="updateData.code" name="code" [value]="customerData?.code"></ion-input>
    </ion-item>
    <ion-item color="Medium">
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="updateData.email" name="email" [value]="customerData?.email"></ion-input>
    </ion-item>
    <ion-item color="Medium">
      <ion-label >Teléfono</ion-label>
      <ion-input [(ngModel)]="updateData.phone" name="phone" [value]="customerData?.phone"></ion-input>
    </ion-item>
    <ion-button id="present-alert" color="danger" type="submit">Actualizar Perfil</ion-button>
    <ion-alert
    trigger="present-alert"
    header="Actualizado!"
    message="Perfil Actualizado!✅"
    [buttons]="alertButtons"
  ></ion-alert>
  </form>
  <div>
    <ion-img routerLink="/tab1" src="../../assets/icon/flecha.png"></ion-img>
  </div>
</ion-content>

