<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="#F7819F">
      <ion-title>Options</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <p></p>
    <ul>
      <li id="edit_profile" routerLink="/tab2"><span>Edit Profile</span></li>
      <li id="edit_password" routerLink="/tab3"><span>Edit Password</span></li>
      <li id="logout" routerLink="/login"><span>Logout</span></li>
    </ul>
  </ion-content>

</ion-menu>
<ion-header [translucent]="false" id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
    <ion-title class="titulo">Packages</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-img routerLink="/profile" src="../../assets/icon/profile.png"></ion-img>
  </div>

  <ion-card>
    <ion-header>
      <ion-card-header>
        <ion-title size="large">Packages</ion-title>
      </ion-card-header>
    </ion-header>
  
    <ion-card-content>
      <div *ngIf="packageData && packageData.length > 0; else noPackages"><!--agrega al elemento DOM la info de packages-->
        <p *ngFor="let package of packageData">
          <strong>Tracking:</strong> {{package?.tracking}}

          <strong>Weight:</strong> {{package?.weight}}
          <strong>Description:</strong> {{package?.description}}
        </p>
        
      </div>

      <ng-template #noPackages>
        <p>Sin paquetes</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>



  
