<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.
    <ion-button routerLink="/profile">Mi perfil</ion-button>
  </ion-content>

</ion-menu>

<ion-header [translucent]="true" id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  
    <ion-title>Packages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-header>
      <ion-card-header>
        <ion-title size="large">Packages available</ion-title>
      </ion-card-header>
    </ion-header>

    <ion-card-content>
      <p><strong>id:</strong> {{customerData?.id}}</p>
      <p><strong>Tracking:</strong> {{customerData?.tracking}}</p>
      <p><strong>Weight:</strong> {{customerData?.weight}}</p>
      <p><strong>Description:</strong> {{customerData?.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
