 /* Estilos para pantallas de ordenador */
 ion-menu::part(backdrop) {
    background-color: rgb(0, 0, 0); //sombra 
  }
  
  ion-menu-button {
    color: aliceblue;
  }

  ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
  
    box-shadow: 4px 0px 16px rgb(255, 255, 255); //efecto al abrir el menu
  }

 ion-header {
    background: #635875; 
}

ion-toolbar {
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
}

ion-content {
    --background: none;
    background: url('/assets/icon/backround.jpg');
    min-height: 100vh;
}

ion-card {
    background: #635875; 
    margin: 15%;
    padding: 30px;
}

ion-card-header {
    text-align: center; /* Centra el título */
}

ion-card-content p {
    margin-bottom: 10px;
}

/* Estilos para pantallas de dispositivos móviles */
@media screen and (max-width: 1000px) {
    ion-header {
        background: #af1f0c; 
    }

    .titulo{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }

    ion-toolbar {
        color: #F5A9BC;
        display: flex;
        justify-content: space-between; /* Alinea los elementos a los extremos */
    }

    ion-img{
        height: 10vh;
        margin-top: 2vh;
        width: 75vh;
        border-radius: 25px;
        cursor: pointer;
    }

    ion-content {
        --background: none;
        background: url('/assets/icon/fond_2.jpeg');
        background-size:initial;
        min-height: 100vh;
    }

    ion-title{
        font-family: monospace;
        color: rgb(198, 205, 212);
    }

    p{
        font-family: monospace;
        color: aliceblue;
    }

    ion-card {
        background: #af1f0c;
        margin: 10%; 
        padding: 30px;
        box-shadow: 2px 2px 2px 1px rgba(93, 89, 89, 0.8); //color-found packages
        opacity: 0.7;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    }

    ion-card-header {
        text-align: center; /* Centra el título */
    }

    ion-card-content p {
        margin-bottom: 10px;
    }
}

//style from buttom
li {
    font-size: 25px;
    width: 10em;
    height: 2em;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}