<ion-content class="mi-pagina">
<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil del Cliente
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Cliente</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Nombre:</strong> {{customerData?.name}}</p>
      <p><strong>Apellido:</strong> {{customerData?.surname}}</p>
      <p><strong>Código:</strong> {{customerData?.code}}</p>
      <p><strong>Email:</strong> {{customerData?.email}}</p>
      <p><strong>Teléfono:</strong> {{customerData?.phone}}</p>

      <ion-button routerLink="/tab2">Editar mi perfil</ion-button>
      <ion-button routerLink="/tab3">Cambiar mi Contraseña</ion-button>
        <ion-button color="danger" id="present-alert">Eliminar cuenta</ion-button> <!--(click)="deleteProfile()-->
<ion-alert
  trigger="present-alert"
  header="¿Estas seguro que deseas eliminar tu cuenta?"
  [buttons]="alertButtons"
  (didDismiss)="setResult($event)"
></ion-alert>
      
    </ion-card-content>
  </ion-card>
<div>
  <ion-img routerLink="/tab1" src="../../assets/icon/flecha.png"></ion-img>
</div>
</ion-content>
