/* Estilos para pantallas de ordenador */
ion-content.mi-pagina {
    --background: none;
    background: url('/assets/icon/backround.jpg');
    min-height: 100vh;
}

ion-header {
    background: #635875; /* Ajusta según sea necesario */
}

ion-toolbar {
    display: flex;
    justify-content: center; /* Centra el título */
}

ion-card {
    background: #635875; /* Ajusta según sea necesario */
    margin: 15%; /* Ajusta según sea necesario */
    padding: 30px;
}

ion-card-header {
    text-align: center; /* Centra el título */
}

ion-card-content p {
    margin-bottom: 10px;
}

ion-button {
    width: 100%;
    margin-top: 20px;
}

/* Estilos para pantallas de dispositivos móviles */
@media screen and (max-width: 1000px) {
    ion-content.mi-pagina {
        --background: none;
        background: url('/assets/icon/backround.jpg');
        min-height: 100vh;
    }

    ion-header {
        background: #635875; /* Ajusta según sea necesario */
    }

    ion-toolbar {
        display: flex;
        justify-content: center; /* Centra el título */
    }

    ion-card {
        background: #635875; /* Ajusta según sea necesario */
        margin: 10%; /* Ajusta según sea necesario */
        padding: 30px;
        margin-top: 40%;
    }

    ion-card-header {
        text-align: center; /* Centra el título */
    }

    ion-card-content p {
        margin-bottom: 10px;
    }

    ion-button {
        width: 100%;
        margin-top: 20px;
    }
}
