<ion-content class="mi-pagina">
  <img class="log" src="/assets/icon/logo-quick.png" alt="">
  <form class="register-form" (ngSubmit)="registerCustomer()">
    <ion-item class="register-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.name" name="name">
        <div slot="label">Name <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item class="register-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.surname" name="surname">
        <div slot="label">Surname <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item class="register-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.code" name="code">
        <div slot="label">Code <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item class="register-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.email" name="email">
        <div slot="label">Email <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item class="register-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.phone" name="phone">
        <div slot="label">Phone <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-item class="register-item">
      <ion-input labelPlacement="floating" [(ngModel)]="customerData.password" name="password" type="password">
        <div slot="label">Password <ion-text color="danger">(Required)</ion-text></div>
      </ion-input>
    </ion-item>
    <ion-button id="present-alert" type="submit">Register</ion-button>
    <ion-alert
      trigger="present-alert"
      header="Registrado!"
      subHeader="A Sub Header Is Optional"
      message="Cuenta creada con exito😃"
      [buttons]="alertButtons"
    ></ion-alert>

    <p class="register-prompt">¿Ya tienes una cuenta?</p>
    <ion-button  routerLink="/login">Inicia sesión</ion-button>
  </form>
</ion-content>
