<ion-content class="mi-pagina">
  <img class="log" src="/assets/icon/logo-quick.png" alt="">
  <form class="login-form" (ngSubmit)="registerCustomer()">
    <ion-item class="login-item">
      <ion-label>Name</ion-label>
      <ion-input [(ngModel)]="customerData.name" name="name"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label>Surname</ion-label>
      <ion-input [(ngModel)]="customerData.surname" name="surname"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label>Code</ion-label>
      <ion-input [(ngModel)]="customerData.code" name="code"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="customerData.email" name="email"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label>Phone</ion-label>
      <ion-input [(ngModel)]="customerData.phone" name="phone"></ion-input>
    </ion-item>
    <ion-item class="login-item">
      <ion-label>Password</ion-label>
      <ion-input [(ngModel)]="customerData.password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-button id="present-alert" type="submit">Register</ion-button>
    <ion-alert
  trigger="present-alert"
  header="Registrado!"
  subHeader="A Sub Header Is Optional"
  message="Cuenta creada con exito😃"
  [buttons]="alertButtons"
></ion-alert>

    <p class="register-prompt">¿Ya tienes una cuenta?</p>
    <ion-button class="register-button" routerLink="/login">Inicia sesión</ion-button>
    
  </form>
</ion-content>
